altgraph==0.17.4
black==24.8.0
Brotli
certifi
cffi
chardet==5.2.0
charset-normalizer
click==8.1.7
cloc==2.02
colorama==0.4.6
colored==2.2.4
filelock
gitdb==4.0.11
GitPython==3.1.43
h2
hpack
hyperframe
idna
Jinja2
markdown-it-py==3.0.0
MarkupSafe
mdurl==0.1.2
mpmath
mypy-extensions==1.0.0
networkx
numpy==1.26.4
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
packaging
pandas
pathspec==0.12.1
pefile==2023.2.7
Pillow
platformdirs==4.3.6
ply
pycparser
Pygments==2.18.0
pygount==1.8.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyQt6==6.7.1
PyQt6-sip
PySocks
python-dateutil
pytokens==0.0.3
pytz
pywin32-ctypes==0.2.3
PyYAML
requests
rich==13.9.4
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
sip
six
smmap==5.0.1
sympy
tomli
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
typing_extensions
tzdata
urllib3
win_inet_pton
zstandard==0.23.0
